<ion-content class="login-content">
  <div class="login-wrapper">

    <div class="glass-header">
      <h1 class="app-title">BAR VIRTUAL</h1>
    </div>

    <form (ngSubmit)="submit()" class="glass-form">
      <ion-item class="custom-input">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input
          type="text"
          [(ngModel)]="username"
          name="username"
          required
          autocomplete="username"
        ></ion-input>
      </ion-item>

      <ion-item class="custom-input">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          type="password"
          [(ngModel)]="password"
          name="password"
          required
          autocomplete="current-password"
        ></ion-input>
      </ion-item>

      <ion-button expand="block" type="submit" class="custom-button">
        Ingresar
      </ion-button>
    </form>

    <p class="registro-text">
      ¿No tienes cuenta?
      <ion-button fill="clear" size="small" routerLink="/register" class="registro-link">
        Regístrate aquí
      </ion-button>
    </p>

  </div>
</ion-content>
